:root {
    --md-primary-fg-color:        #ff6b00;
  }

.md-grid {
  max-width: initial;
}

.center {
  display: block;
  margin: 0 auto;
}

.doc-heading{
  --md-code-fg-color: #ff8f3e !important;
  --md-code-hl-name-color: #ff6b00;
  
}

.doc-heading .kc{
  color: #6e59d9;
}

/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}